<div class="w-[97%] sm:w-[440px] absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
  <div class="flex justify-center mb-9 mr-5">
    <app-logo class="sm:scale-125"></app-logo>
  </div>
  <mat-card class="!shadow-xl !rounded-2xl px-6 pt-11 pb-7 sm:px-14">
    <h1 class="flex justify-center gap-2 font-medium text-3xl mb-8">
      <span class="text-accent-color">Login</span>
      <span class="hidden sm:block">to your account</span>
      <span class="block sm:hidden">to App</span>
    </h1>

    <form autocomplete="off" class="flex flex-col">
      <label for="email" class="custom-label">Email</label>
      <mat-form-field [color]="themeColorService.getPrimaryColor()" class="custom-input">
        <input autocomplete="off" id="email" matInput [(ngModel)]="email" (keydown.enter)="onLogin($event)" placeholder="Email" name="email" required>
      </mat-form-field>
      <label for="password" class="custom-label">Password</label>
      <mat-form-field [color]="themeColorService.getPrimaryColor()" class="custom-input">
        <input autocomplete="off" id="password" matInput [(ngModel)]="password" (keydown.enter)="onLogin($event)" [type]="hide ? 'password' : 'text'" type="password" placeholder="Password" name="password" required>
        <button class="medium" mat-icon-button matSuffix (click)="passwordToggle()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon class="scale-75">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button type="submit" class="w-full mt-2" mat-raised-button [color]="themeColorService.getPrimaryColor()" (click)="onLogin($event)">Login</button>
    </form>

    <div class="my-8 relative">
      <span class="font-medium text-sm absolute -top-[14px] left-[44%] card-bg border-color border rounded py-1 px-2 text-secondary-color">OR</span>
      <mat-divider></mat-divider>
    </div>

    <app-social-icons></app-social-icons>

    <div class="inline text-sm mt-5">
      <span>Don't have an account? </span>
      <a [routerLink]="AppRoutes.AUTH.SIGN_UP.fullPath" class="font-medium cursor-pointer underline text-accent-color">
        Register
      </a>
    </div>

<!--      <br>-->
<!--      <button class="w-full" mat-raised-button [color]="themeColorService.getPrimaryColor()" (click)="cognitoService.handleSignUp({email: 'dmytro27kagirov@gmail.com', password: 'Qwer!1234'})">Cognito Sing Up</button>-->
<!--      <br>-->
<!--      <button class="w-full" mat-raised-button [color]="themeColorService.getPrimaryColor()" (click)="cognitoService.handleSignUpConfirmation({username: 'dmytro27kagirov@gmail.com', confirmationCode: '488555'})">Cognito Confirm Sing Up</button>-->
<!--      <br>-->
<!--      <button class="w-full" mat-raised-button [color]="themeColorService.getPrimaryColor()" (click)="cognitoService.handleSignIn({username: 'dmytro27kagirov@gmail.com', password: 'Qwer!1234'})">Cognito Login</button>-->
<!--      <br>-->
<!--      <button class="w-full" mat-raised-button [color]="themeColorService.getPrimaryColor()" (click)="cognitoService.currentAuthenticatedUser()">Cognito Current User</button>-->
<!--      <br>-->
<!--      <button class="w-full" mat-raised-button [color]="themeColorService.getPrimaryColor()" (click)="cognitoService.fetchAuthSession()">Cognito Session</button>-->
  </mat-card>
</div>

<br>
<button mat-raised-button [color]="themeColorService.getPrimaryColor()" (click)="cognitoService.signOut()">Sing Out</button>


