
<div class="flex flex-col h-[calc(100vh-100px)] border custom-border-color {{ themeService.theme === Theme.Dark ? 'theme-dark' : 'theme-light' }}">
  <div class="flex items-center justify-between h-11 px-3 py-1 border-b custom-border-color">
    <div class="flex items-center gap-1 header-buttons">
      <button mat-button>
        <mat-icon>create_new_folder</mat-icon>
        <span>New folder</span>
      </button>
      <button mat-button (click)="fileDropRef.click()">
        <mat-icon>cloud_upload</mat-icon>
        <input hidden type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target)"/>
        <span>Upload Files</span>
      </button>
      <button mat-button disabled>
        <mat-icon>sort</mat-icon>
        <span>Sort by</span>
      </button>
      <button mat-button (click)="refresh()">
        <mat-icon>refresh</mat-icon>
        <span>Refresh</span>
      </button>
    </div>
    <button class="custom-icon-btn small square" mat-icon-button (click)="toggleView()" matTooltip="Files View" matTooltipPosition="above">
      <mat-icon>{{ this.viewMode === VIEW_MODE.MODULE ? 'view_module' : 'view_list' }}</mat-icon>
    </button>
  </div>

  <div class="flex h-[calc(100vh-135px)]">
    <div class="flex overflow-y-auto min-w-[25%]">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="file-tree">
        <mat-tree-node *matTreeNodeDef="let node" [ngClass]="{ 'active-folder': node.active }" (click)="toggleTreeNode(node, $event)" (dblclick)="openTreeNode(node)">
          <mat-icon class="object-icon">folder</mat-icon>
          {{node.name}}
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <div class="mat-tree-node" [ngClass]="{ 'active-folder': node.active }" (click)="toggleTreeNode(node, $event)" (dblclick)="openTreeNode(node)">
            <mat-icon class="expand-icon mat-icon-rtl-mirror">
              {{node?.expanded ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
            <mat-icon class="object-icon">folder</mat-icon>
            {{node.name}}
          </div>
          <!-- There is inline padding applied to this div using styles. -->
          <div [class.file-tree-invisible]="!node?.expanded" role="group">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
      </mat-tree>
    </div>

    <div class="flex flex-col h-[calc(100%-{{ viewMode === VIEW_MODE.MODULE ? '0px' : '10px' }})] grow">
      <div class="flex items-center justify-between px-3 py-1 h-10 border-b custom-border-color">
        <button class="custom-icon-btn small square" mat-icon-button (click)="goBack()" [disabled]="this.currentPath.length <= 1" matTooltip="Go Back" matTooltipPosition="above">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="flex items-center">
          <span class="text-secondary-color text-[13px] mr-2">Path: </span>
          @for (folderName of this.currentPath; track $index) {
            <mat-icon class="text-[13px]" *ngIf="$index !== 0">arrow_forward_ios</mat-icon>
            <span class="text-[13px] mr-1">{{ folderName }}</span>
          }
        </div>
        <button class="custom-icon-btn small square" mat-icon-button disabled matTooltip="Search" matTooltipPosition="above">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div class="file-list-wrap file-manager-dropzone">
        <div class="dnd-area">
          <mat-icon class="no-drag">cloud_upload</mat-icon>
          <h2 class="no-drag">Drag and drop files here</h2>
        </div>
        @if (viewMode === VIEW_MODE.MODULE) {
          <div class="file-list">
            @for (file of currentFolderFiles; track file.name) {
              <div class="folder-wrap" (dblclick)="openFromList(file)">
                @if (file.isFolder) {
                  <mat-icon class="object-icon">folder</mat-icon>
                } @else if (file.isImage) {
                  @if (file.imageBase64) {
                    <div class="image-preview-wrap">
                      <div class="image-preview">
                        <img src="data:image/png;base64, {{ file.imageBase64 }}" alt="Image Preview"/>
                      </div>
                    </div>
                  } @else {
                    <mat-icon class="object-icon custom-file-icon" svgIcon="image"></mat-icon>
                  }
                } @else {
                  <mat-icon class="object-icon custom-file-icon" svgIcon="{{ getSvgIcon(file) }}"></mat-icon>
                }
                <span class="folder-name">{{ file.name }}</span>
              </div>
            }
          </div>
        } @else {
          <div class="file-table-list">
            <table mat-table [dataSource]="currentFolderFiles" class="mat-elevation-z8">
              <ng-container matColumnDef="icon">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell class="w-[50px] p-0" *matCellDef="let element">
                  <div class="flex items-center justify-center">
                    @if (element.isFolder) {
                      <mat-icon class="object-icon">folder</mat-icon>
                    } @else {
                      <mat-icon class="object-icon custom-file-icon" svgIcon="{{ getSvgIcon(element) }}"></mat-icon>
                    }
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{ getType(element) }} </td>
              </ng-container>
              <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef> Size </th>
                <td mat-cell *matCellDef="let element">
                  @if (element.size !== 0) {
                    {{ element.size | filesize }}
                  }
                </td>
              </ng-container>
              <ng-container matColumnDef="lastModified">
                <th mat-header-cell *matHeaderCellDef> Last Modified </th>
                <td mat-cell *matCellDef="let element"> {{ element.lastModified | date:'MMMM d, y H:mm' }} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="listColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: listColumns;" (dblclick)="openFromList(row)"></tr>
            </table>
          </div>
        }
      </div>
    </div>

  </div>
</div>
