
<div class="relative flex flex-col h-[calc(100vh-100px)] border custom-border-color {{ themeService.theme === Theme.Dark ? 'theme-dark' : 'theme-light' }}">

  @if (!isKeySet() && type === FileManagerType.PersonalVault) {
    <div class="key-not-available">
      <mat-card class="key-card absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <mat-card-content>
          <h2>
            <mat-icon [color]="themeColorService.getPrimaryColor()">vpn_key</mat-icon>
            Client-Side Encryption Key
          </h2>
          <div class="key-info-wrap">
            <mat-icon [color]="themeColorService.getPrimaryColor()">info</mat-icon>
            <div class="key-info">
              <p>To use the Personal Vault, set up the encryption key:</p>
              <ul>
                <li>Generate a new key and save it to a file.</li>
                <li>Or select a key file from your computer.</li>
              </ul>
              <p>Keep your key secure and do not share it with others.</p>
            </div>
          </div>
          <div class="key-controls">
            <button mat-stroked-button [color]="themeColorService.getPrimaryColor()" (click)="generateKey()">Generate Key</button>
            <span>or</span>
            <input type="file" class="hidden" #keyFileInput (change)="onKeyFileSelected($event.target)">
            <button mat-stroked-button [color]="themeColorService.getPrimaryColor()" (click)="keyFileInput.click()">Select Key File</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  }

  <div class="flex items-center justify-between h-11 px-3 py-1 border-b custom-border-color">
    <div class="flex items-center gap-1 header-buttons">
      <input hidden type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target)"/>
      @if (type === FileManagerType.PersonalVault || (type === FileManagerType.Storage && this.currentFolder?.owner)) {
        <button mat-button (click)="createFolderDialog()">
          <mat-icon>create_new_folder</mat-icon>
          <span>New folder</span>
        </button>
        <button mat-button (click)="fileDropRef.click()" [disabled]="uploading">
          <mat-icon>cloud_upload</mat-icon>
          <span>Upload Files</span>
        </button>
      }
      <button mat-button disabled>
        <mat-icon>sort</mat-icon>
        <span>Sort by</span>
      </button>
      <button mat-button *ngIf="type === FileManagerType.PersonalVault" (click)="resetKey()">
        <mat-icon>vpn_key</mat-icon>
        <span>Reset Key</span>
      </button>
      <button mat-button (click)="refresh(this.currentPath)">
        <mat-icon>refresh</mat-icon>
        <span>Refresh</span>
      </button>
    </div>
    <button class="custom-icon-btn small square" mat-icon-button (click)="toggleView()" matTooltip="Files View" matTooltipPosition="above">
      <mat-icon>{{ this.viewMode === VIEW_MODE.MODULE ? 'view_module' : 'view_list' }}</mat-icon>
    </button>
  </div>

  <div class="flex h-[calc(100vh-135px)]">
    <div class="flex overflow-y-auto min-w-[25%]">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="file-tree">
        <mat-tree-node *matTreeNodeDef="let node" [ngClass]="{ 'active-folder': node.active }" (click)="toggleTreeNode(node, $event)" (dblclick)="openTreeNode(node)">
          @if (type === FileManagerType.Storage && node.sharing?.shared) {
            <mat-icon class="object-icon shared">folder_shared</mat-icon>
          } @else {
            <mat-icon class="object-icon">folder</mat-icon>
          }
          <span class="folder-tree-name">{{node.name}}</span>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <div class="mat-tree-node" [ngClass]="{ 'active-folder': node.active }" (click)="toggleTreeNode(node, $event)" (dblclick)="openTreeNode(node)">
            <mat-icon class="expand-icon mat-icon-rtl-mirror">
              {{node?.expanded ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
            @if (type === FileManagerType.Storage && node.sharing?.shared) {
              <mat-icon class="object-icon shared">folder_shared</mat-icon>
            } @else {
              <mat-icon class="object-icon">folder</mat-icon>
            }
            <span class="folder-tree-name">{{node.name}}</span>
          </div>
          <!-- There is inline padding applied to this div using styles. -->
          <div [class.file-tree-invisible]="!node?.expanded" role="group">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
      </mat-tree>
    </div>

    <div class="flex flex-col h-[calc(100%-{{ viewMode === VIEW_MODE.MODULE ? '0px' : '10px' }})] grow">
      <div class="flex items-center justify-between px-3 py-1 h-10 border-b custom-border-color">
        <button class="custom-icon-btn small square" mat-icon-button (click)="goBack()" [disabled]="this.currentPath.length <= 1" matTooltip="Go Back" matTooltipPosition="above">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="flex items-center">
          <mat-spinner *ngIf="loading()" class="mr-2" [diameter]="25" [color]="themeColorService.getPrimaryColor()"></mat-spinner>
          <span class="text-secondary-color text-[13px] mr-2">Path: </span>
          @for (folderName of this.currentPath; track $index) {
            <mat-icon class="text-[13px]" *ngIf="$index !== 0">arrow_forward_ios</mat-icon>
            <span class="text-[13px] mr-1">{{ folderName }}</span>
          }
        </div>
        <button class="custom-icon-btn small square" mat-icon-button disabled matTooltip="Search" matTooltipPosition="above">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div class="file-list-wrap file-manager-dropzone-{{ type }}" (contextmenu)="openFileManagerMenu($event)">
        <div class="dnd-area">
          @if (!this.uploading) {
            <mat-icon class="no-drag">cloud_upload</mat-icon>
            <h2 class="no-drag">Drag and drop files here</h2>
          } @else {
            <mat-icon class="no-drag wait">access_time</mat-icon>
            <h2 class="no-drag wait">Wait for the uploading to be finished</h2>
          }
        </div>
        @if (viewMode === VIEW_MODE.MODULE) {
          <div class="file-list">
            @for (file of currentFolderFiles; track file.name) {
              <div class="folder-wrap" (dblclick)="openFromList(file)" (contextmenu)="openFileMenu($event, file)">
                @if (type === FileManagerType.Storage && file.isFolder && file.sharing?.shared) {
                  <mat-icon class="object-icon shared">folder_shared</mat-icon>
                } @else if (file.isFolder) {
                  <mat-icon class="object-icon">folder</mat-icon>
                } @else if (file.isImage) {
                  @if (file.imageBase64) {
                    <div class="image-preview-wrap">
                      <div class="image-preview">
                        <img src="data:image/png;base64, {{ file.imageBase64 }}" alt="Image Preview"/>
                      </div>
                    </div>
                  } @else {
                    <mat-icon class="object-icon custom-file-icon" svgIcon="image"></mat-icon>
                  }
                } @else {
                  <mat-icon class="object-icon custom-file-icon" svgIcon="{{ getSvgIcon(file) }}"></mat-icon>
                }
                <span class="folder-name">{{ file.name }}</span>
              </div>
            }
          </div>
        } @else {
          <div class="file-table-list">
            <table mat-table [dataSource]="currentFolderFiles" class="mat-elevation-z8">
              <ng-container matColumnDef="icon">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell class="w-[50px] p-0" *matCellDef="let element">
                  <div class="flex items-center justify-center">
                    @if (type === FileManagerType.Storage && element.isFolder && element.sharing?.shared) {
                      <mat-icon class="object-icon shared">folder_shared</mat-icon>
                    } @else if (element.isFolder) {
                      <mat-icon class="object-icon">folder</mat-icon>
                    } @else if (element.isImage) {
                      @if (element.imageBase64) {
                        <div class="image-preview-wrap">
                          <div class="image-preview">
                            <img src="data:image/png;base64, {{ element.imageBase64 }}" alt="Image Preview"/>
                          </div>
                        </div>
                      } @else {
                        <mat-icon class="object-icon custom-file-icon" svgIcon="image"></mat-icon>
                      }
                    } @else {
                      <mat-icon class="object-icon custom-file-icon" svgIcon="{{ getSvgIcon(element) }}"></mat-icon>
                    }
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{ getType(element) }} </td>
              </ng-container>
              <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef> Size </th>
                <td mat-cell *matCellDef="let element">
                  @if (element.size !== 0) {
                    {{ element.size | filesize }}
                  }
                </td>
              </ng-container>
              <ng-container matColumnDef="lastModified">
                <th mat-header-cell *matHeaderCellDef> Last Modified </th>
                <td mat-cell *matCellDef="let element"> {{ element.lastModified | date:'MMMM d, y H:mm' }} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="listColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: listColumns;" (dblclick)="openFromList(row)" (contextmenu)="openFileMenu($event, row)"></tr>
            </table>
          </div>
        }
      </div>
    </div>
  </div>

  @if (showUploading) {
    <div class="uploading-wrap">
      <mat-icon class="close-uploading" (click)="closeUploading()">close</mat-icon>
      <div class="uploading">
        @for (file of uploadingFiles; track file.name) {
          <div class="single-file">
            <mat-icon class="object-icon custom-file-icon" svgIcon="{{ getSvgIconByType(getTypeByName(file.name)) }}"></mat-icon>
            <div class="info">
              <h4 class="file-name">
                {{ file.name }}
              </h4>
              <p class="file-size">
                {{ file.size | filesize }}
              </p>
              <mat-progress-bar [color]="themeColorService.getPrimaryColor()" mode="determinate" [value]="file.progress"></mat-progress-bar>
            </div>
            @if (!file.uploadingStarted) {
              <mat-icon class="uploading-control delete" (click)="deleteFromUploading($index)">delete</mat-icon>
            } @else if (file.uploadingCompleted) {
              <mat-icon class="uploading-control">done</mat-icon>
            } @else if (file.uploadingError) {
              <mat-icon class="uploading-control">error</mat-icon>
            } @else {
              <mat-icon class="uploading-control">schedule</mat-icon>
            }
          </div>
        }
      </div>
    </div>
  }
</div>

<div style="visibility: hidden; position: fixed;"
     [style.left.px]="fileManagerMenuTopLeft.x"
     [style.top.px]="fileManagerMenuTopLeft.y"
     #clickFileManagerTrigger="matMenuTrigger"
     [matMenuTriggerFor]="clickFileManagerMenu"></div>
<mat-menu #clickFileManagerMenu="matMenu">
  <ng-template matMenuContent let-folder="folder">
    <div class="flex flex-col items-baseline px-3 text-[14px]">
      @if (type === FileManagerType.PersonalVault || (type === FileManagerType.Storage && folder.owner)) {
        <button mat-button (click)="createFolderDialog()">
          <mat-icon>create_new_folder</mat-icon>
          <span>New folder</span>
        </button>
        <button mat-button (click)="fileDropRef.click()">
          <mat-icon>cloud_upload</mat-icon>
          <span>Upload Files</span>
        </button>
      }
      <button mat-button disabled>
        <mat-icon>sort</mat-icon>
        <span>Sort by</span>
      </button>
      <button mat-button *ngIf="type === FileManagerType.PersonalVault" (click)="resetKey()">
        <mat-icon>vpn_key</mat-icon>
        <span>Reset Key</span>
      </button>
      <button mat-button (click)="refresh(this.currentPath)">
        <mat-icon>refresh</mat-icon>
        <span>Refresh</span>
      </button>
    </div>
  </ng-template>
</mat-menu>

<div style="visibility: hidden; position: fixed;"
     [style.left.px]="fileMenuTopLeft.x"
     [style.top.px]="fileMenuTopLeft.y"
     #clickFileTrigger="matMenuTrigger"
     [matMenuTriggerFor]="clickFileMenu"></div>
<mat-menu #clickFileMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <div class="flex flex-col items-baseline px-3 text-[14px]">
      @if (item.isFolder) {
        <button mat-button (click)="openFromList(item)">
          <mat-icon>folder_open</mat-icon>
          <span>Open</span>
        </button>
      }
      @if (type === FileManagerType.PersonalVault || (type === FileManagerType.Storage && !item.shadowFolder)) {
        <button mat-button (click)="download(item)">
          <mat-icon>cloud_download</mat-icon>
          <span>Download</span>
        </button>
      }
      @if (type === FileManagerType.Storage && item.isFolder && item.owner) {
        <button mat-button (click)="sharingDialog(item)">
          <mat-icon>share</mat-icon>
          <span>Sharing</span>
        </button>
      }
      @if (type === FileManagerType.PersonalVault || (type === FileManagerType.Storage && item.owner)) {
        <button mat-button (click)="deleteObject(item)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      }
    </div>
  </ng-template>
</mat-menu>
