
mat-icon {
  $small-size: 18px;

  display: flex !important;
  justify-content: center !important;
  align-items: center !important;

  &.small {
    font-size: $small-size;
    svg {
      height: $small-size;
      width: $small-size;
    }
  }
}
