button.custom-icon-btn[mat-icon-button] {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 !important;
  height: 35px !important;
  width: 35px !important;
  &.square {
    .mat-ripple, .mat-mdc-button-persistent-ripple {
      border-radius: 4px;
    }
  }
  span {
    height: 35px !important;
    width: 35px !important;
  }
}

.custom-menu-btn {
  min-height: 38px !important;
  min-width: 130px;
  mat-icon {
    font-size: 18px !important;
    height: fit-content !important;
    width: fit-content !important;
  }
  span {
    font-size: 14px;
    text-align: center;
    flex-grow: 1;
  }
}

button[mat-icon-button]{
  $very-small-size-button: 30px !important;
  $very-small-size-icon: 15px !important;

  &.very-small {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
    height: $very-small-size-button;
    width: $very-small-size-button;
    mat-icon {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      font-size: $very-small-size-icon;
      svg {
        height: $very-small-size-icon;
        width: $very-small-size-icon;
      }
    }
    span {
      height: $very-small-size-button;
      width: $very-small-size-button;
    }
  }

  $small-size-button: 35px !important;
  $small-size-icon: 20px !important;

  &.small {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
    height: $small-size-button;
    width: $small-size-button;
    mat-icon {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      font-size: $small-size-icon;
      svg {
        height: $small-size-icon;
        width: $small-size-icon;
      }
    }
    span {
      height: $small-size-button;
      width: $small-size-button;
    }
  }
}
