mat-form-field.custom-input {
  $height: 40px !important;

  body.theme-light &.mat-focused .mat-mdc-form-field-focus-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  body.theme-dark &.mat-focused .mat-mdc-form-field-focus-overlay {
    background: rgba(255, 255, 255, 0.3);
  }

  .mat-mdc-text-field-wrapper {
    border-radius: 8px !important;

    .mat-mdc-form-field-flex .mat-mdc-form-field-infix {
      display: flex;
      height: $height;
      min-height: $height;
      padding: 0 !important;

      input {
        @apply text-sm;
      }
    }

    .mat-mdc-form-field-icon-suffix {
      button[mat-icon-button] {
        padding: 0 !important;
        height: $height;
        width: $height;
        span {
          height: $height;
          width: $height;
        }
      }
    }
  }
}
