<mat-sidenav-container class="mt-16">
  <mat-sidenav #sidenav mode="side" opened [ngClass]="short ? 'w-14' : 'w-72'" class="!fixed !top-16 !z-30 !transition-all">
    <div class="relative w-full max-w-full overflow-hidden h-full">
      <button class="custom-icon-btn square !absolute top-1 right-1" mat-icon-button (click)="toggle()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span>Sidenav</span>
    </div>
  </mat-sidenav>

  <mat-sidenav-content [ngClass]="short ? '!ml-14' : '!ml-72'" class="min-h-screen py-4 px-5 !transition-all">
    <p>Egestas hendrerit felis viderer feugiat ultrices magna utamur movet. Lobortis solet ante inani legimus dolorem.</p>
    <p>Egestas hendrerit felis viderer feugiat ultrices magna utamur movet. Lobortis solet ante inani legimus dolorem.</p>
    <p>Egestas hendrerit felis viderer feugiat ultrices magna utamur movet. Lobortis solet ante inani legimus dolorem.</p>
    <p>Egestas hendrerit felis viderer feugiat ultrices magna utamur movet. Lobortis solet ante inani legimus dolorem.</p>
    <p>Egestas hendrerit felis viderer feugiat ultrices magna utamur movet. Lobortis solet ante inani legimus dolorem.</p>
    <p>Egestas hendrerit felis viderer feugiat ultrices magna utamur movet. Lobortis solet ante inani legimus dolorem.</p>
    <p>Egestas hendrerit felis viderer feugiat ultrices magna utamur movet. Lobortis solet ante inani legimus dolorem.</p>
    <p>Egestas hendrerit felis viderer feugiat ultrices magna utamur movet. Lobortis solet ante inani legimus dolorem.</p>
    <p>Egestas hendrerit felis viderer feugiat ultrices magna utamur movet. Lobortis solet ante inani legimus dolorem.</p>
    <p>Egestas hendrerit felis viderer feugiat ultrices magna utamur movet. Lobortis solet ante inani legimus dolorem.</p>
  </mat-sidenav-content>
</mat-sidenav-container>
