<mat-sidenav-container class="mt-16 transition-all">
  <mat-sidenav mode="side" opened [ngClass]="shortSidenav ? 'w-14' : 'w-60'" class="!fixed !top-16 !z-30 !transition-all">
    <app-sidenav-list [items]="sidenavItemList" [shortSidenav]="shortSidenav" (toggleSidenavState)="toggleSidenav()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="shortSidenav ? '!ml-14' : '!ml-60'" class="min-h-screen py-4 px-5 !transition-all">
    <p>Egestas hendrerit felis viderer feugiat ultrices magna utamur movet. Lobortis solet ante inani legimus dolorem.</p>
    <p>Egestas hendrerit felis viderer feugiat ultrices magna utamur movet. Lobortis solet ante inani legimus dolorem.</p>
    <p>Egestas hendrerit felis viderer feugiat ultrices magna utamur movet. Lobortis solet ante inani legimus dolorem.</p>
    <p>Egestas hendrerit felis viderer feugiat ultrices magna utamur movet. Lobortis solet ante inani legimus dolorem.</p>
    <p>Egestas hendrerit felis viderer feugiat ultrices magna utamur movet. Lobortis solet ante inani legimus dolorem.</p>
    <p>Egestas hendrerit felis viderer feugiat ultrices magna utamur movet. Lobortis solet ante inani legimus dolorem.</p>
    <p>Egestas hendrerit felis viderer feugiat ultrices magna utamur movet. Lobortis solet ante inani legimus dolorem.</p>
    <p>Egestas hendrerit felis viderer feugiat ultrices magna utamur movet. Lobortis solet ante inani legimus dolorem.</p>
    <p>Egestas hendrerit felis viderer feugiat ultrices magna utamur movet. Lobortis solet ante inani legimus dolorem.</p>
    <p>Egestas hendrerit felis viderer feugiat ultrices magna utamur movet. Lobortis solet ante inani legimus dolorem.</p>
  </mat-sidenav-content>
</mat-sidenav-container>
