<mat-toolbar class="shadow-lg fixed top-0 z-40 transition-all">
  <app-logo class="w-44 sm:w-60"></app-logo>
  <span class="grow"></span>
  <app-theme-switch></app-theme-switch>

  <button class="!hidden sm:!flex" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Open User Menu" aria-label="User account button">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    @for (item of dropdownItemList; track item.url) {
      @if (item.url !== AppRoutes.AUTH.LOGIN.fullPath) {
        <button [disabled]="item.disabled" class="custom-menu-btn" [routerLink]="item.url" mat-menu-item>
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </button>
      } @else {
        <button [disabled]="item.disabled" class="custom-menu-btn" (click)="logout()" mat-menu-item>
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </button>
      }
    }
  </mat-menu>
</mat-toolbar>
