@use '@angular/material' as mat;
@include mat.core();

$celadon-palette: (
  50: #e8feef,
  100: #c8fcd8,
  200: #a2fabf,
  300: #79f7a6,
  400: #59f192,
  500: #36eb7f,
  600: #2ada73,
  700: #1ac565,
  800: #0bb35a,
  900: #009144,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: white,
    800: white,
    900: white,
  )
);

$aero-palette: (
  50: #e1f4fc,
  100: #b5e4f7,
  200: #86d2f1,
  300: #5bc0eb,
  400: #40b2e8,
  500: #28a6e5,
  600: #2498d7,
  700: #1d85c3,
  800: #1874b0,
  900: #0a558f,
  A100: #c2e4ff,
  A200: #addcff,
  A400: #1f9eff,
  A700: #00518f,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);

$crimson-palette: (
  50: #ffeaf0,
  100: #ffcad6,
  200: #f095a1,
  300: #e8697c,
  400: #f43f5d,
  500: #fc1c45,
  600: #ec0b43,
  700: #da003c,
  800: #cd0035,
  900: #bf0028,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$cloud-primary: mat.define-palette($celadon-palette, 200, 50, 400);
$cloud-accent: mat.define-palette($aero-palette, 300, 100, 500);
$cloud-warn: mat.define-palette($crimson-palette, 600);

$cloud-theme: mat.define-light-theme((
  color: (
    primary: $cloud-primary,
    accent: $cloud-accent,
    warn: $cloud-warn,
  )
));

$cloud-theme-dark: mat.define-dark-theme((
  color: (
    primary: $cloud-primary,
    accent: $cloud-accent,
    warn: $cloud-warn,
  )
));

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.theme-dark {
  @include mat.all-component-themes($cloud-theme-dark);
}
.theme-light {
  @include mat.all-component-themes($cloud-theme);
}
